{
  "token": "",
  "_token": "REQUIRED: Your Discord auth token.",
  "openaiToken": "",
  "_openaiToken": "Your OpenAI token (for AI commands).",
  "aiChannels": ["1087133384758792272"],
  "_aiChannels": "Channel IDs for AI3 to run in.",
  "elevatedPermsAiChannels": ["542034119274790912"],
  "_elevatedPermsAiChannels": "Channel IDs for DALLE and AI4 to run in.",

  "applicationId: "",
  "_applicationId": "The application ID of your bot.",
  "mainGuildId": "271300005990296576",
  "bdayChannelId": "500009139853885440",
  "bdayRoleId": "892388000000574568",
  "_bdayConfig": "All of these are related to wishing people a happy birthday!",

  "minecraftServerIp": "",
  "minecraftServerPort": 25565,
  "minecraftServerOwnerId": 204448971009007600,

  "botResponseChance": 2,
  "_botResponseChance": "The chance for the bot to respond any message. (See chanceResponses.json)",
  "statsConfig": {
    "messageSRGain": 5,
    "_messageSRGain": "The amount of SR to gain per message sent.",
    "messageSRGainCooldown": 10,
    "_messageSRGainCooldown": "The cooldown (in seconds) to wait before message SR can be gained again.",
    "voiceChatSRGain": 0.2,
    "_voiceChatSRGain": "The amount of SR to gain per second whilst in voice chat.",
    "reputationGain": 75,
    "reputationGainCooldown": 900,
    "tokenMax": 50,
    "dailyTokens": 3",
  },
}
